kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: {{ kind_cluster_name }}
nodes:
{% for node in molecule_yml.platforms %}
{% set _ = node.pop('name') %}
- {{ node | to_nice_yaml(indent=2) | indent(2) }}
{% endfor %}
